body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

a,
.intro-card .left-side .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 200px;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 200px;
}

.intro-card {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    background-color: #1F2937;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    flex: 1;
}

.right-side{
    margin-right: 200px;
    display: flex;
    flex: 1;
    border-radius: 10px;
}

.intro-card .left-side .heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro-card .left-side .sign-up {
    display: flex;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 95px;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    border-color: #3882f6;
}
